<%- include('header'); %>
<h2>Hey, I am Umer</h2>
<p>I made this basic todolist page while learning web developement on udemy using Angela Yu's bootcamp.</p>
<p>In this module, the focus was on the usage of ejs layouts and templates, something i really loved!</p>
<%- include('footer'); %>