<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>To Do List</title>
</head>
<body>
    <%- include('header'); %>
    <div class="box" id="heading">
        <h1>It's <%= kindOfDay %>!</h1>
    </div>
    <div class="box">
        <% for(var i = 0; i < newItems.length; i++){ %>
            <div class="item">
                <input type="checkbox">
                <p><%= newItems[i] %></p>
            </div> 
        <% } %>

        <form class="item" action="/" method="POST">
            <input type="text" name = "newInput" placeholder="New item" autocomplete="off">
            <button type="submit">+</button>
        </form>
    </div>
    <%- include('footer'); %>
